@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}
.header {
  margin: auto;

  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  width: 400px;
}
.navBar {
  width: 60%;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
}
a:link {
  color: #4c1c68;
  font-family: Lato;
  text-decoration: none;
  font-size: 22px;
}
a:hover {
  color: black;
}
a:active {
  color: #e57225;
}
.active {
  color: #e57225;
}
.login {
  border-radius: 5px;
  border: 1px solid #4c1c68;
  background-color: #4c1c68;
  color: white;
}
.login:hover {
  border-radius: 5px;
  border: 1px solid #4c1c68;
  background-color: white;
  color: #4c1c68;
}
/* HEAD END */
.body {
  margin-top: 60px;
}
.title {
  color: #33347c;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: Lato;
  font-weight: bolder;
  font-size: 55px;
}
.cards {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  align-items: center;
  box-shadow: 2px 2px 3px lightgray;
  color: #ff5841;
}
.card:hover {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  align-items: center;
  box-shadow: 2px 2px 3px lightgray;
  color: black !important;
}
.cardHead {
  margin: auto;
  width: fit-content;
  font-size: large;
  font-family: "Trebuchet MS", Lato;
  font-weight: bold;
}
.navMenu {
  display: none;
}
.proBar {
  position: absolute;
  right: 3px;
  background-color: #e57225;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Lato;
  border-radius: 0px 0px 10px 10px;
  padding: 5px 20px;
  width: fit-content;
}
.proPic {
  border-radius: 50px;
  width: 40px;
}
.name {
  margin-left: 10px;
}
@media only screen and (max-width: 600px) {
  .Logo {
    width: 280px;
  }
  .navBar {
    display: none;
  }
  .navMenu {
    display: block;
  }
  .navList {
    box-shadow: 0px 5px 5px lightgray;
    background-color: white;
    display: none;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
  }
  .card {
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    align-items: center;
    box-shadow: 2px 2px 3px lightgray;
    color: #ff5841;
  }
  .card:hover {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 350px;
    height: 100px;
    display: flex;
    align-items: center;
    align-items: center;
    box-shadow: 2px 2px 3px lightgray;
    color: black !important;
  }
}
