body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  margin: auto;

  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  width: 400px;
}
.navBar {
  width: 60%;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto auto;
}
a:link {
  color: #4c1c68;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 22px;
}
a:hover {
  color: black;
}
a:active {
  color: #e57225;
}
.active {
  color: #e57225;
}
.login {
  border-radius: 5px;
  border: 1px solid #4c1c68;
  background-color: #4c1c68;
  color: white;
}
.login:hover {
  border-radius: 5px;
  border: 1px solid #4c1c68;
  background-color: white;
  color: #4c1c68;
}
/* HEAD END   */
.body {
  margin-top: 60px;
}
.title {
  color: #33347c;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 55px;
}
.grid-item-head {
  color: white;
  font-weight: bold;
}
.grid-container-body {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 15px;
  align-items: center;
  text-align: center;
}
.tabel {
  display: grid;
  align-items: center;
  width: 80%;
  margin: 55px auto 10px auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabelHead {
  border-radius: 5px 5px 0px 0px;
  background-color: #e57225;
  padding: 12px 15px;
  font-family: sans-serif;
}
.tabelBody {
  letter-spacing: 0.7px;
  font-family: sans-serif;
  padding: 12px 15px;
}
.sNo {
  color: #e57225;
  font-weight: bold;
}
.topic {
  font-weight: bold;
  text-wrap: wrap;
  overflow-wrap: break-word;
}
.description {
  text-align: left;
  overflow-x: inherit;
}
.button {
  border-radius: 5px;
  padding: 6px;
  border: none;
}
.button:hover {
  color: white;
  background-color: #33347c;
  border-radius: 5px;
  padding: 6px;
  border: none;
}
.navMenu {
  display: none;
}
@media only screen and (max-width: 600px) {
  .Logo {
    width: 280px;
  }
  .navBar {
    display: none;
  }
  .navMenu {
    display: block;
  }
  .navList {
    box-shadow: 0px 5px 5px lightgray;
    background-color: white;
    display: none;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
  }
  .tabel {
    width: 90%;
    margin: 55px auto 10px auto;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
}
