body {
  margin: 0;
  padding: 0;
}
.header {
  margin: auto;
  width: 97%;
  padding: 20px;
  box-shadow: 0px 5px 5px lightgray;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.Logo {
  width: 400px;
}
.navBar {
  width: 40%;
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
}
a:link {
  color: #4c1c68;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 22px;
}
a:hover {
  color: black;
}
a:active {
  color: #e57225;
}
.active {
  color: #e57225;
}
.login {
  border-radius: 5px;
  border: 1px solid #e57225;
  background-color: #e57225;
  color: white;
}
.login:hover {
  border-radius: 5px;
  border: 1px solid #e57225;
  background-color: white;
  color: #e57225;
}
/* HEAD END */
.title {
  color: #33347c;
  display: flex;
  align-items: center;
  height: 80vh;
  width: fit-content;
  margin: auto;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 55px;
}
